body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://www.latercera.com/resizer/1OZn46suFAExdWAImpaHx8g4O0k=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/25CB7WIJRBFXDKMV4BKOV2566M.jpg');
   background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
